# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Run pytest
on:
  push:
    branches: [ "v0.*" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: "Checkout"
      uses: actions/checkout@v4

    - name: "Set up Python"
      uses: actions/setup-python@v5
      with:
        python-version-file: "pyproject.toml"

    - name: "Install uv"
      uses: astral-sh/setup-uv@v6

    - name: "Install project"
      run: "uv sync --group test --frozen"

    - name: "Run Pytests"
      run: "uv run pytest test"
